body {
	font: $other_fonts;
}
//text style
.title {
	font: $title_font;
	text-align: center;
	@include respond(1200) {
		font-size: 55px;
		margin-bottom: 25px;
	}
	@include respond(991) {
		font-size: 50px;
		margin-bottom: 15px;
	}
	@include respond(768) {
		font-size: 45px;
		margin-bottom: 5px;
	}
	@include respond(480) {
		font-size: 40px;
		margin-bottom: 0;
	}
}
.text {
	font: $text_font;
	text-align: center;
	@include respond(1200) {
		font-size: 25px;
	}
	@include respond(991) {	}
	@include respond(768) {
		font-size: 20px;
	}
	@include respond(480) {
		font-size: 18px;
	}
}
.social {
	padding: 0;
	&__item {
		display: inline-block;
		list-style-type: none;
		margin-right: 10px;
	}
	&__item:last-child {
		margin-right: 0;
	}
	&__link {
		font-size: 30px;
		display: block;
		&_linkedin {
			color: lighten($bg_color, 5%);
			&:hover {
				transform: scale(1.1);
				color: lighten($bg_color, 25%);
				transition: all .3s;
			}
		}
		&_github {
			color: lighten(#000, 66%);
			&:hover {
				transform: scale(1.1);
				color: lighten(#000, 85%);
				transition: all .3s;
			}
		}
	}	
}
.copy	{
	&__text {
		color: #fff;
		font-size: 12px;
		float: right;
	}
	&__logo {
		color: lighten($bg_color, 5%);
	}
}