//fonts
$other_fonts: 16px/16px 'Raleway', sans-serif;

//font nav
$nav_font: 24px/24px 'Raleway', sans-serif;
//font content
$header_font: 71px/71px 'Raleway', sans-serif;
$title_font: 65px/65px 'Roboto Slab', sans-serif;
$text_font: 30px/30px 'Raleway', sans-serif;
$services_font: 30px/30px 'Raleway', sans-serif;
$skills_font: 30px/30px 'Raleway', sans-serif;
//color
$bg_color: rgb(22,187,222);
$bg_color_a: rgba(22,187,222,.5);
$bg_slidebar: darken($bg_color, 30%);