@import "variables";
@import "mixin";
@import "other";
@import "popup";

// @include respond($wigth, 'mobile' or 'desktop'(default));

/*==================================
=            Navigation            =
==================================*/
.navigation {	
	position: absolute;
	top: 0;
	z-index: 150;
	margin: auto;
	left: 0;
	right: 0;
	&__wrapper {
		padding: 20px 0;
		display: table;		
	}
	&__fix {
		top: 0;
		position: fixed;
		background-color: darken($bg_color_a, 15%);
	}
	
	&__logo {
		display: table-cell;
		text-align: left;
		vertical-align: middle;
	}
	&__nav {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}	
}
//logo
.logo {
	&__link {
		display: table-cell;
		font: 38px/38px 'Raleway', sans-serif;
		color: #fff;
		vertical-align: middle;
		padding-right: 50px;
		text-shadow: 5px 5px 10px darken($bg_color, 40%);
		&_color {
			padding: 5px 25px;
			background-color: darken($bg_color, 20%);
			font-weight: Bold;
			color: lighten($bg_color, 42%);
			text-shadow: none;
			@include respond(500) {
				display: block;
				margin-top: 4px;
			}	
		}
		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
		}
	}
	&__img { width: 70% }
}
//nav
.nav {
	&__list {
		display: table-cell;
		vertical-align: middle;
	}
	&__item {
		float: left;
		margin-right: 20px;
		list-style-type: none;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		font: $nav_font;
		position: relative;
		text-transform: uppercase;
		color: #fff;
		padding-bottom: 7px;
		&:focus, &:hover {
			color: #fff;
			text-decoration: none;
		}
		&::after {
			position: absolute;
			z-index: 999;
			right: 0;
			bottom: 0;
			left: 0;
			height: 2px;
			margin: auto;
			content: "";
			opacity: 0;
			background-color: lighten( $bg_color, 40% );
		}
		&:hover::after {
			transition: all .3s;
			opacity: 1;
		}
		@include respond(1200) {
			font-size: 16px;
		}
		@include respond(992) {
		}
		@include respond(769) {
		}
		@include respond(480) {
		}
	}
}
//navigation slidebar
.slidebar {
	background-color: $bg_slidebar;
	&__logo {
		text-align: center;
		margin-bottom: 40px;
		&_link {
			padding: 30px 15px;
			position: relative;
		}
		&_padd {
			position: relative;
			margin-top: 20px;
			z-index: -1;
		}
	}
	//navigation
	&__list {
		display: block;
		padding-left: 0;
	}
	&__item {
		list-style-type: none;
		text-align: center;
		margin-bottom: 20px;
	}
	&__link {
		display: block;
		font: $nav_font;
		text-transform: uppercase;
		color: #fff;
		padding: 5px 0;
		&:focus, &:hover {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
			background-color: #fff;
			color: darken($bg_color, 20%);
			transition: all .3s;
		}
	}
}
/*==============================
=            Header            =
==============================*/
.header {
	&__wrapper {
		background: url(../img/header_bg.jpg) no-repeat center;
		background-size: cover;
		position: relative;
		padding: 250px 0;
		@include respond(1200) {
			padding: 150px 0;
		}
		@include respond(992) {

		}
		@include respond(768) {

		}
		@include respond(480) {
		}
	}
	&__paranja {
		background-color: $bg_color_a;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	//title
	&__content {
		width: 100%;
		display: table;
		&_cell {
			display: table-cell;
			text-align: center;
		}
	}
	//text
	&__title {
		font: $header_font;
		color: #fff;
		@include respond(1200) {
			font-size: 60px;
		}
		@include respond(991) {
			font-size: 45px;
		}
		@include respond(768) {
			font-size: 40px;
		}
		@include respond(480) {
			font-size: 35px;
			line-height: 40px;
			padding-bottom: 30px;
		}

	}
	//button
	&__btn {
		border: 3px solid rgba(255,255,255,.7);
		padding: .8em 2em;
		color: #fff;
		background: linear-gradient(0deg, darken($bg_color, 30%), darken($bg_color, 15%));
		border-radius: 2px;
		font-size: 1.5em;
		text-transform: uppercase;
		@include respond(1200) {
			font-size: 1.6em;
		}
		@include respond(480) {
			font-size: 1.2em;
		}
		&:hover, &:focus {
			text-decoration: none;
			color: #fff;		
		}
		&:hover {
			background: linear-gradient(0deg, darken($bg_color, 25%), darken($bg_color, 10%));
		}
		&:active {
			background: linear-gradient(0deg, darken($bg_color, 15%), darken($bg_color, 30%));
		}
	}
	//slidebars
	&__bars {
		border: none;
		background: none;
		font-size: 40px;
		outline: none;
		color: #fff;
		&:hover {
			transform: scale(.95);
			transition: all .3s;
		}
	}
}
/*================================
=            About Us            =
================================*/
.about {
	padding: 0 0 50px 0;
}
/*================================
=            Services            =
================================*/
.services {
	padding-bottom: 100px;
	@include respond(1200){
		padding-bottom: 50px;
	}
	&__title {
		margin-bottom: 90 px;
		@include respond(1200) {
			margin-bottom: 90px;
		}
		@include respond(991) {
			margin-bottom: 40px;
		}
		@include respond(768) {
			margin-bottom: 35px;
		}
		@include respond(480) {
			margin-bottom: 30px;
		}
	}
	&__pic {
		width: 200px;
		height: 200px;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		@include respond(1200) {
			width: 180px;
			height: 180px;
		}
		@include respond(991) {
			width: 130px;
			height: 130px;
		}
		@include respond(768) {
			width: 100px;
			height: 100px;
		}
		// @include respond(480)
		&_outsourcing {}
		&_outstaffing {}
		&_consulting {}
		&_scratch {}
	}
	&__img {
		background-size: cover;
		text-align: center;
		&_outsourcing {
			width: 80%;
			margin-top: 25px;
			@include respond(1200) {
				width: 80%;
			}
			@include respond(991) {

			}
			@include respond(768) {

			}
		}
		&_outstaffing {
			width: 120%;
			margin-top: 45px;
			margin-left: -20px;
			@include respond(1200) {
			}
			@include respond(991) {
				margin-left: -12px;
			}
			@include respond(768) {

			}
		}
		&_consulting {
			width: 70%;
			margin-top: 28px;
			@include respond(1200) {
				
			}
			@include respond(991) {

			}
			@include respond(768) {

			}
		}
		&_scratch {
			width: 70%;
			margin-left: 0;
			margin-top: 60px;
			@include respond(1200) {
			}
			@include respond(991) {
				margin-top: 50px;
			}
			@include respond(768) {

			}
		}
	}
	&__name {
		text-transform: uppercase;
		font: $services_font;
		text-align: center;
		margin-top: 0px;
		font-weight: 600;
		@include respond(1200) {
			font-size: 25px;
		}
		@include respond(991) {
			font-size: 20px;
		}
		@include respond(768) {
			font-size: 25px;
		}
		// @include respond(480)
	}
}

/*==============================
=            Skills            =
==============================*/
.skills {
	&__wrapper {
		background: url(../img/skills_bg.jpg) no-repeat center;
		padding: 50px 0;
		background-size: cover;
		position: relative;
		@include respond(991) {
			padding: 30px 0;
		}
		@include respond(768) {
			padding: 0 0 30px 0;
		}
		@include respond(480)
	}
	&__paranja {
		background-color: transparentize($bg_color, .2);
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}
	&__title {
		color: #fff;
		margin-bottom: 70px;
		@include respond(768) {
			margin-bottom: 10px;
		}
	}
	&__container {
		width: 150px;
		height: 150px;
		border: 4px solid #fff;
		display: table;
		border-radius: 50%;
		margin-bottom: 15px;
		box-sizing: border-box;
		&:hover {
			background-color: #fff;
			transition: all .3s;
		}
		@include respond(991) {
			width: 120px;
			height: 120px;			
		}
		@include respond(768) {
			width: 100%;
			border: none;
			margin-bottom: 7px;
			border-radius: 20px;
		}
		@include respond(620) {
			width: 100%;
			height: auto;
			border: none;
			border-radius: 0;
		}
		@include respond(480)
	}
	&__container:hover &__name:hover {
		color: darken($bg_color, 10%);
	}
	&__name {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		color: #fff;
		text-transform: uppercase;
		font: $skills_font;
		font-weight: 600;
		// @include respond(1200)
		@include respond(991) {
			font-size: 15px;
		}
		@include respond(768) {
			font-size: 12px;
		}
		@include respond(480) {
			text-align: left;
		}
	}
}

/*=================================
=            Portfolio            =
=================================*/
.portfolio {
	padding: 50px 0;
	&__title {
		margin-bottom: 100px;
	}
	&__pic {
		text-align: center;
		margin-bottom: 7%;
	}
	&__img {
		width: 100%;
		@include respond(768) {
			width: 50%;
		}
		@include respond(480) {
			width: 80%;
		}
		&:hover {
			transform: scale(1.01);
			box-shadow: 4px 4px 15px rgba(0,0,0,.3);	
			transition: all .3s;		
		}
	}
}

/*==================================
=            Contact Us            =
==================================*/
.contact {
	&__wrapper {
		background: url(../img/contact_bg.png) no-repeat center;
		padding: 30px 0 80px;
		background-size: cover;
		position: relative;
	}
	&__paranja {
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($bg_color, .4);
	}
	&__title {
		color: #fff;	
	}
	//form
	&__input, &__textarea, &__submit {
		display: block;
		width: 100%;
		color: #fff;
		border: none;
		outline: none;
	}
	&__input, &__textarea {
		background-color: darken($bg_color, 25%);
		box-shadow: inset 0 0 15px rgba(255,255,255,.7);
		letter-spacing: 1px;
		&:hover, &:active, &:focus {
			background-color: darken($bg_color, 35%);
			box-shadow: inset 0 0 10px rgba(255,255,255,.6);
			transition: all .3s;
		}
	}
	&__input {
		padding: 20px 0 20px 15px;
		margin-bottom: 5px;
		position: relative;
		box-sizing: border-box;
		&_wrapper {
			position: relative;
		}
	}
	&__underline {	
			position: absolute;
			display: block;
			background-color: lighten($bg_color, 30%);
			height: 5px;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
	}
	&__input:focus ~ &__underline,
	&__textarea:focus ~ &__underline {
		opacity: 1;
		transition: all .3s;
	}
	//textarea
	&__textarea {
		padding: 15px;
	}
	&__input::-webkit-input-placeholder,
	&__textarea::-webkit-input-placeholder {
		color: #fff;
		padding-top: 2px;
	}
	&__input::-moz-placeholder,
	&__textarea::-moz-placeholder {
		color: #fff;
		padding-top: 2px;
	}
	&__input:-moz-placeholder,
	&__textarea:-moz-placeholder {
		color: #fff;
		padding-top: 2px;
	}
	&__input:-ms-input-placeholder,
	&__textarea:-ms-input-placeholder {
		color: #fff;
		padding-top: 2px;
	}
	//submit
	&__submit {
		text-transform: uppercase;
		padding: 20px 0;
		margin-top: 10px;
		font-weight: bold;
		background: linear-gradient(0deg, darken($bg_color, 15%), darken($bg_color, 5%));
		&:hover {
			background: linear-gradient(0deg, darken($bg_color, 5%), darken($bg_color, 15%));
		}
		&:active {
			transform: scale(0.99);
			transition: all .1s;
		}
	}
	//maps
	&__info {
		margin-top: 100px;
	}
	&__maps {
		width: 100%;
		height: 200px;
	}
	

	&__logo {
		font-size: 30px;
		@include respond(991) {
			margin-top: 10px;
		}
	}
	&__line {
		width: 100%;
		background-color: #fff;
		margin-top: 10px;
		height: 2px;
	}
	&__street {
		float: left;
		color: #fff;
	}
	&__phone {
		text-align: right;
		float: right;
		color: #fff;
	}
}
/*==============================
=            Footer            =
==============================*/
.footer {
	background-color: darken($bg_color, 35%);
	&__wrapper {
		display: table;
		width: 100%;
		height: 70px;
	}
	&__line {
		width: 100%;
		display: block;
		height: 5px;
		background-color: lighten($bg_color, 30%);
	}
	//logo
	&__logo {		
		display: table-cell;
		vertical-align: middle;
	}
	&__link {
		font-size: 30px;
	}
	//social
	&__social {
		display: table-cell;
		text-align: center;
		vertical-align: middle;		
		@include respond(991) {
			text-align: left;
		}
	}
	//copyright
	&__copy {
		display: table-cell;
		vertical-align: middle;
	}
}

